#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem;*/
  text-align: center;

}

body {
  margin: 0;
  padding: 0;
}

body {
  border: 2px solid blue;
  /* display: flex;
  flex-direction: column; */
}

.article-card {
  border: 2px solid red
}

#item-list-card {
  border: 2px solid green;
  margin: 0;
  padding: 0;
}